<div class="containerT">
  <div>
      <h1>Higher Lower</h1>
      <h1>Game</h1>
  </div>
  <div>
    <h3 class="margin-t10">Choose Rival:</h3>
    <div *ngIf="userSelected" class="userSelected">
        <img src="{{userSelected.image}}">
        {{userSelected.username}}
    </div>
    <button class="btn col-3  btn-lg btn-purple" (click)="open(content)">Select User</button>
    <button class="btn col-3  btn-lg btn-purple" (click)="randomRival()">Random</button>
  </div>
 <div>
      <button [disabled]="!userSelected" type="button" (click) = "play()" class="btn col-3 btn-primary btn-lg btn-green">
          Play
      </button>
 </div> 
</div>

<!--MODAL-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <input  (keyup)="searchUsers()" [(ngModel)]="searchbox_select_rival"  class="form-control mr-sm-2" type="search" placeholder="Search User" aria-label="Search">
        <ul class="users-result-list">
            <li (click)="selectUser(user)" *ngFor="let user of users | paginate: {itemsPerPage:7,currentPage:actualPage}">
                    <img src="{{user.image}}">
                    <span>{{user.username}}</span>
            </li>
        </ul>
        <pagination-controls class="gc_pagination" (pageChange)="actualPage = $event"></pagination-controls>
    </div>
  </ng-template>
    
