<nav class="topBar">
        <div class="col-md-4">
            <a class="navbar-brand" (click)="goHome()">Logo</a>
        </div>
        <div class="col-md-4">
            <form [formGroup]="formMainSearch" class="form-inline" id="form-mainSearch">
                <input  (keyup)="searchUsers($event)" formControlName="search" class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                <ul class="topbar-result-list" *ngIf="showList()">
                  <li *ngFor="let user of userSearchResults" (click)="goToProfile(user.username)">
                    <img src="{{user.image}}">
                    <span>{{user.username}}</span>
                  </li>
                </ul>
            </form>
        </div>
        <div class="col-md-4">
            <div id="topBarActions">
                <ul *ngIf="!logged">
                  <li>
                    <a class="nav-link" (click)="goLogin()" >Login <span class="sr-only">(current)</span></a>
                  </li>
                  <li>
                    <a class=" button signUp-btn" (click)="goSignup()" >Signup</a>
                  </li>
                </ul>
                <!--DROPWDOWN WHEN USER IS LOGGED-->
                <ul *ngIf="logged">
                  <li>
                    <!--YARA AQUI PONES EL DROPDOWN-->
                    <a class="nav-link">{{user.username}}</a>
                  </li>
                </ul>
                <!--ESTE ES TU DROPDOWN ANTIGUO-->
                <!--<div *ngIf="logged" class="dropdown" id="dropmenu">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    username
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Logout</a></li>
                  </ul> 
                </div>-->
                <!---END DROPDOWN WHEN YOU ARE LOGGED-->
            </div>
        </div>
  </nav>