/*
================
=====HEADER====
===============
*/
.topBar{
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}
.topBar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.topBar .navbar-brand,.topBar .nav-link{
  color:white !important;
}
.search-bar:focus{
  color:white !important;
}
.search-bar{
  color:white!important;
  background: inherit !important;
  border: 0px solid !important;
  width:100% !important;
  border-bottom: 3px solid #3E5593 !important;
}
#topBarActions{
  justify-content:flex-end !important;
}
#topBarActions ul{
  flex-direction: row;
  display: flex;
  -ms-flex-direction: row;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color:white;
}
#topBarActions ul a:hover{
color: inherit;
text-decoration: none;
}

#topBarActions a{
  cursor: pointer;
}
.dropdown{
  text-align: end;
}

#dropdownMenu1 {
  background: linear-gradient(45deg, #26A4B5, #6BE0CC);
  color: #fff;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 6px 25px #235193;
  transition: box-shadow 0.5s ease;
}

/*SEARCH BAR*/
#form-mainSearch{
  position: relative;
  width:90%;
}
ul.topbar-result-list{
  position: absolute;
  z-index: 99;
  top: 40px;
  width:100%; /* its width according to input width */
  border:1px solid #ccc;
  height:auto;
  padding:0px;
  margin:0px;
 }
 /* if you want style so that's why i use "li a" also */
 ul.topbar-result-list li, 
 ul.topbar-result-list li a{
  background-color:#fff;
  color:#000;
  font-size:12px; /* according to your requirement */
  font-family:arial;
  font-weight:normal;
  margin:0px;
  line-height:25px; /* according to your requirement */
  display:block;
  cursor:pointer;
 }
 ul.topbar-result-list li:hover,
 ul.topbar-result-list li a:hover{
  background-color:#ccc;
  color:#000;
  text-decoration:normal;
 }
 ul.topbar-result-list li:hover .suggested_input{
  background-color:#FAFFBD;
  border:1px solid #3C8DBC;
 }
 .topbar-result-list:hover ul.suggestions{
 display:block;
 }


.topbar-result-list li{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding:15px;
}
.topbar-result-list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.topbar-result-list span{
  margin-left: 10px;
  font-size: 14px;
}