<nav class="topBar">
    <div class="container">
        <div class="col-md-4">
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="col-md-4">
            <div id="topBarActions">
                <ul>
                  <li>
                    <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                  </li>
                  <li>
                    <a class=" button signUp-btn" href="#">Signup</a>
                  </li>
                </ul>
              </div>
        </div>
    </div>
  </nav>