<div class="gameContainer">
<div class="row" *ngIf="game1 != undefined">
    <div class="col-6 w-50" [style.background-image] ="'url('+game1.imgSrc+')'" id="firstGame" >
        <ul class="gameContent"> 
               <li><div class="large title-game">{{game1.name}}</div></li>
               <li><p class="small">has</p></li>
               <li><p class="large">{{game1.searches}}</p></li>
               <li> <p class="small">average monthly searches</p></li>            
        </ul>
          
    </div>
   <!--  <div class="circle" >
        <img class="rounded-circle" src="" alt="VS" >
    </div> -->
    <div class="col-6 w-50" id="secondGame" [style.background-image] ="'url('+game2.imgSrc+')'">
        <ul class="gameContent">
            <li><div class="large title-game">{{game2.name}}</div></li>
            <li><p class="small">has</p> </li>
            <li><button type="button" class="btn btn-sm btn-light col-4" (click)= isHigher()>Higher</button></li>
            <li><button type="button" class="btn btn-sm btn-light col-4"(click)= isLower()>Lower</button></li>
            <li> <p class="small">searches than {{game1.name}}</p></li>            
        </ul>
    </div>

</div>
</div>
<footer>
        <div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
                <div class="col-sm-6 score">Score:{{points}}</div>
                <div class="col-sm-6 text-pp-crt-rg">Lives:{{lives}}</div>
            </div>
    
</footer>
