<div class="containerT">
  <div class="col" id="firstGame">
          <p class="large">Nombre Juego</p>
          <p class="small">has</p>
          <p class="large">3000</p>
          <p class="small">average monthly searches</p>
  </div>
  <div class="circle" >
      <img class="rounded-circle" src="/html/proyecto/vs.PNG" alt="" >
  </div>
  <div class="col" id="secondGame">
          <p class="large">Nombre Juego</p>
          <p class="small">has</p>
          <button type="button" class="btn btn-sm btn-light col-4">Higher</button>
          <button type="button" class="btn btn-sm btn-light col-4">Lower</button>
          <p class="small">searches than Game 1</p>
  </div>


<footer>
  <div class="highScore">
      <p>Highscore:6</p>
      
  </div>
  <div class="score">
      <p>Score:0 </p>
  </div>
</footer>
</div>