html, body, .gameContainer{
    height: 100%;
}

.gameContainer{
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;   
    left: 0;
    box-sizing: border-box;
  }

.row{
    height: 100%;
    display: table-row;
    align-items: center;
}

       /*
  ==============
  GAME PLAY DETAILS
  =============
  */
.gameContent{
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 50%);
    list-style: none;
    color: white;
  }
  

  .large{
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 800;
}

.small{
    font-size: 20px;
    margin-top: 25px;
    font-weight: 500;
}

.btn{
    border-radius: 8px;
    border: 1px solid #58D2C7;
    text-align: center;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    color: #58D2C7 0.3s 0.1s ease-out;
    line-height: 250%;
  }

.btn::before{
  border-radius: 50%;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
  text-align: center;
}

.btn:hover{
  color: white;
  background-color: #58D2C7;
}
.btn:hover::before{
  box-shadow: inset 0 0 0
  rgba(#58D2C7,1);
}

  #secondGame button{
    margin-top: 5px;
    margin-bottom: 0%;

}