<div class="containerT">
    <div class="col" id="firstGame">
            <p class="large">Nombre Juego</p>
            <p class="small">has</p>
            <p class="large">3000</p>
            <p class="small">average monthly searches</p>
    </div>
    <div class="circle" >
        <img class="rounded-circle" src="/html/proyecto/vs.PNG" alt="" >
    </div>
    <div class="col" id="secondGame">
        <ul>
            <li>
                    <p class="large">Nombre Juego</p>
            </li>
            <li>
                    <p class="small">has</p>
            </li>
            <li>
                <button type="button" class="btn btn-sm btn-light col-4">Higher</button>
            </li>
            <li><button type="button" class="btn btn-sm btn-light col-4">Lower</button></li>
            <li> <p class="small">searches than Game 1</p></li>            
        </ul>
           
    </div>


<footer>
    <div class="score">
        <ul>
            <li>                
                <p>Highscore:6</p>
            </li>
            <li class="end">                
                <p>Score:0 </p>
            </li>
        </ul>
    </div>
</footer>