<!-- Cards -->
<div class="row">
  <div class="col-sm-6">
    <!--Individual Card-->
    <div class="card text-center border-info">
      <div class="card-header">
        Your turn
      </div>
      <img
        src="https://www.telegraph.co.uk/content/dam/gaming/2017/01/12/Yooka-Laylee-xlarge_trans_NvBQzQNjv4BqNJjoeBT78QIaYdkJdEY4CnGTJFJS74MYhNY6w3GNbO8.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">yaraafernanda</h5>
        <p class="card-text">alvaro021 challenged you</p>
        <a href="#" class="btn btn-primary">Jugar</a>
      </div>
      <div class="card-footer text-muted">
        Your have 2 days to play
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!--Individual Card-->
    <div class="card text-center border-info">
      <div class="card-header">
        Your turn
      </div>
      <img
        src="https://www.telegraph.co.uk/content/dam/gaming/2017/01/12/Yooka-Laylee-xlarge_trans_NvBQzQNjv4BqNJjoeBT78QIaYdkJdEY4CnGTJFJS74MYhNY6w3GNbO8.png"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">yaraafernanda</h5>
        <p class="card-text">mariana challenged you</p>
        <a href="#" class="btn btn-primary">Jugar</a>
      </div>
      <div class="card-footer text-muted">
        Your have 1 days to play
      </div>
    </div>
  </div>
</div>
