body {
  background-color: #3D2C73 !important;
}

.topBar {
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.topBar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.topBar .navbar-brand,
.topBar .nav-link {
  color: white !important;
}

.search-bar:focus {
  color: white !important;
}

.search-bar {
  background: inherit !important;
  border: 0px solid !important;
  width: 90% !important;
  border-bottom: 3px solid #3E5593 !important;
}

#dropdownMenu1 {
  background: linear-gradient(45deg, #26A4B5, #6BE0CC);
  color: #fff;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 6px 25px #235193;
  transition: box-shadow 0.5s ease;
}

#profile {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-family: 'Exo', sans-serif;
}

#profile img {
  width: 20%;
}

#tabs {
  box-shadow: 0 3px 25px #235193;
  transition: box-shadow 0.5s ease;
}
