<div class="bg"></div>

<div class="containerT">
  <div class="title">
          <h1>You scored:</h1>
          <h1>{{score}}</h1>
  </div>

  <div class="justify-content-center">
        <share-buttons 
        [theme]="'default'"
        [include]="['facebook','twitter']"
        [show]="2"
        [showText]="true"
        [size]="4"
        [description]="'I just played High Lower game from gameconi'"
       ></share-buttons>
       
    
  </div>
  <div class="justify-content-center">
      <button  type="button" (click)= "goHome()" class="col-3 btn-secondary btn-lg btn">
          Home</button>
      <button type="button" (click)="playAgain()" class="col-3 btn btn-primary btn-lg" id="playAgain"> 
          Play Again </button>
  </div>
</div>