<div class="bg"></div>

<div class="containerT">
  <div class="title">
          <h1>You scored:</h1>
          <h1>{{score}}</h1>
  </div>

  <div class="justify-content-center">
      <a class="btn col-2 fa fa-twitter">
          Tweet this
      </a>
      <a class="btn col-2 fa fa-facebook">
          Share this
      </a>
  </div>
  <div class="justify-content-center">
      <button  type="button" (click)= "goHome()" class="col-3 btn-secondary btn-lg btn">
          Home</button>
      <button type="button" (click)="playAgain()" class="col-3 btn btn-primary btn-lg" id="playAgain"> 
          Play Again </button>
  </div>
</div>