<div class="title-section">
    <h1>The place for true gamers</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="text-center">
        <span *ngIf="!logged" (click)="goToLogin()" class=" button signUp-btn joinNow-btn">Join Now</span>
        <span *ngIf="logged" (click)="goToGame()" class=" button signUp-btn joinNow-btn">Play Game</span>
    </div>
  </div>
  <div class="thumbnails-container">
      <div (click)="goToGame()" class="game-thumnail" style="background-image:url('https://i.imgur.com/ixUPDmh.jpg')">
      </div>
  </div>
