<div class="title-section">
    <h1>The place for true gamers</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="text-center" *ngIf="!logged">
        <a class=" button signUp-btn joinNow-btn" href="#">Join Now</a>
    </div>
  </div>
  <div class="thumbnails-container">
      <a class="game-thumnail" (click)="play()" style="background-image:url('https://compass-ssl.xbox.com/assets/dc/48/dc486960-701e-421b-b145-70d04f3b85be.jpg?n=Game-Hub_Content-Placement-0_New-Releases-No-Copy_740x417_02.jpg')">
      </a>
  </div>
