 <!--The content below is only a placeholder and can be replaced.-->
 <nav class="topBar">
   <div class="container">
     <div class="col-md-4">
       <a class="navbar-brand" href="#">Logo</a>
     </div>
     <div class="col-md-4">
       <form class="form-inline">
         <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
       </form>
     </div>
     <div class="col-md-4">
     </div>
   </div>
 </nav>

 <div class="container">

   <div id="profile">
     <img src="https://media.creativemornings.com/uploads/user/avatar/73303/Holtning-Profile-Square-Site.png"
       class="rounded-circle">
     <h3>Username</h3>
   </div>

   <div id="gamePlayedCard">
     <h4>Game title</h4>
     <div class="row" id="settingsRow">
       <div class="col" id="firstR">
         <img
           src="https://www.telegraph.co.uk/content/dam/gaming/2017/01/12/Yooka-Laylee-xlarge_trans_NvBQzQNjv4BqNJjoeBT78QIaYdkJdEY4CnGTJFJS74MYhNY6w3GNbO8.png">
       </div>
       <div class="col" id="secondR">
         <h5>Players Score</h5>
         <table class="table table-sm">
           <thead>
             <tr>
               <th scope="col">Username</th>
               <th scope="col">Score</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>yaraafernanda</td>
               <td>468</td>
             </tr>
             <tr>
               <td>thornton</td>
               <td>274</td>
             </tr>
             <tr>
               <td>littleguy</td>
               <td>247</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>

 </div>
