   <!--The content below is only a placeholder and can be replaced.-->
   <div id="gamePlayedCard">
      <h4>Game title</h4>
      <div class="row" id="settingsRow">
        <div class="col" id="firstR">
          <img
            src="https://www.telegraph.co.uk/content/dam/gaming/2017/01/12/Yooka-Laylee-xlarge_trans_NvBQzQNjv4BqNJjoeBT78QIaYdkJdEY4CnGTJFJS74MYhNY6w3GNbO8.png">
        </div>
        <div class="col" id="secondR">
          <h5>Players Score</h5>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>yaraafernanda</td>
                <td>468</td>
              </tr>
              <tr>
                <td>thornton</td>
                <td>274</td>
              </tr>
              <tr>
                <td>littleguy</td>
                <td>247</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
