<div class="container">
  <div *ngFor="let item of partidas" class="card mb-3" id="gamePlayedCard">
    <div class="row">
      <div class="col">
        <img
          src="https://www.telegraph.co.uk/content/dam/gaming/2017/01/12/Yooka-Laylee-xlarge_trans_NvBQzQNjv4BqNJjoeBT78QIaYdkJdEY4CnGTJFJS74MYhNY6w3GNbO8.png"
          class="card-img" alt="...">
      </div>
      <div class="col" id="col2">
        <div class="card-body">
          <h5 class="card-title">Category title</h5>
          <h6 class="card-text">Highscore Table</h6>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>yaraafernanda</td>
                <td>468</td>
              </tr>
              <tr>
                <td>thornton</td>
                <td>274</td>
              </tr>
              <tr>
                <td>littleguy</td>
                <td>247</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
