   <!--The content below is only a placeholder and can be replaced.-->
   <!--<div class="dropdown" id="dropmenu">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      username
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Settings</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Logout</a></li>
    </ul> 
  </div>-->
  <div class="row" id="settingsRow">
      <div class="col" id="firstR">
        <p class="large">Username:</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-light">Save</button>
      </div>
      <div class="col" id="secondR">
        <p class="large">Password:</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">*</span>
          </div>
          <input type="password" class="form-control" id="pass1" placeholder="Current password">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">*</span>
          </div>
          <input type="password" class="form-control" id="pass1" placeholder="New password">
        </div>
        <button type="button" class="btn btn-light">Save</button>
      </div>
    </div>
