<!--The content below is only a placeholder and can be replaced.-->
<nav class="topBar">
  <div class="container">
      <div class="col-md-4">
          <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="col-md-4">
          <form class="form-inline">
              <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
          </form>
      </div>
      <div class="col-md-4">
          <div id="topBarActions">
              <ul>
                <li>
                  <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                </li>
                <li>
                  <a class=" button signUp-btn" href="#">Signup</a>
                </li>
              </ul>
            </div>
      </div>
  </div>
</nav>
<div class="container">
    <div class="title-section">
      <h1>The place for true gamers</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="text-center">
          <a class=" button signUp-btn joinNow-btn" href="#">Join Now</a>
      </div>
    </div>
    <div class="thumbnails-container">
        <a class="game-thumnail" style="background-image:url('https://compass-ssl.xbox.com/assets/dc/48/dc486960-701e-421b-b145-70d04f3b85be.jpg?n=Game-Hub_Content-Placement-0_New-Releases-No-Copy_740x417_02.jpg')">
        </a>
    </div>
</div>
<router-outlet></router-outlet>
