
<div class="card-darker">
  <div class="text-center">
      <h2 class="form-signin-heading">Please login</h2>
  </div>
  <form class="form-signin"> 

      <div class="text-center">
          <button type="button" class="btn btn-twitch">
              <i class="fab fa-twitch"></i> Login with Twitch
          </button>
      </div>     
      <hr>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-glow-green btn-block" type="submit">Login</button>   
  </form>
</div>