#profile {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-family: 'Exo', sans-serif;
}

#profile img {
  width: 20%;
}

#tabs {
  box-shadow: 0 3px 25px #eee;
  transition: box-shadow 0.5s ease;
  background: linear-gradient(45deg, #26A4B5, #6BE0CC);
  color: #eee;
}

#tabs .nav-item .nav-item.show .nav-link, .nav-item .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-item .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
  font-size: 20px;
}