
<div class="card-darker">
    <div class="text-center">
        <h2 class="form-signin-heading">Please sign up</h2>
    </div>
    <form class="form-signin"> 
  
        <div class="text-center">
            <button type="button" class="btn btn-twitch">
                <i class="fab fa-twitch"></i> Sign up with Twitch
            </button>
        </div>     
        <hr>
       <div class="form-group">
          <label for=""></label>
          <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
                    <small id="helpId" class="text-muted">symbols are not valid</small>
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="email" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
                      <small id="helpId" class="text-muted">correct email address</small>
          </div>
          <div class="form-group">
              <label for=""></label>
              <input type="password" class="form-control" name="password" placeholder="Password" required="" autofocus="" />
                        <small id="helpId" class="text-muted">Help text</small>
            </div>
        <label>
          <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Accept Terms and Conditions
        </label>
        <button class="btn btn-lg btn-glow-green btn-block" type="submit">Sign Up</button>   
    </form>
  </div>