
<div class="card-darker">
    <div class="text-center">
        <h2 class="form-signin-heading">Please sign up</h2>
        <!--<p>{{formSignUp.value.email | json}}</p>-->
    </div>
    <form [formGroup]="formSignUp" (ngSubmit)="signUp()" class="form-signin"> 
  
        <div class="text-center">
            <button type="button" class="btn btn-twitch">
                <i class="fab fa-twitch"></i> Sign up with Twitch
            </button>
        </div>     
        <hr>
        <div *ngIf="errMsg!=''" class="alert alert-danger" role="alert">
            {{errMsg}}
        </div>
       <div class="form-group">
          <label for=""></label>
          <input type="text" class="form-control" formControlName="username" name="username" placeholder="Username" required="" autofocus="" />
                    <small id="helpId" class="text-muted">alphanumerical and can have underscore</small>
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="email" class="form-control" formControlName="email" name="email" placeholder="Email" required="" autofocus="" />
                      <small id="helpId" class="text-muted">correct email address</small>
          </div>
          <div class="form-group">
              <label for=""></label>
              <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password" required="" autofocus="" />
                        <small id="helpId" class="text-muted">passwrod must be at least 6 characters long</small>
            </div>
        <label>
          <input type="checkbox" value="remember-me" formControlName="terms" name="terms"> Accept Terms and Conditions
        </label>
        <button [disabled]="!formSignUp.valid" class="btn btn-lg btn-glow-green btn-block" type="submit">Sign Up</button>   
    </form>
  </div>
