/* You can add global styles to this file, and also import other style files */
body{
    background-color:#3D2C73 !important;
}
/*
================
=====HEADER====
===============
*/
.topBar{
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.topBar .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.topBar .navbar-brand,.topBar .nav-link{
    color:white !important;
}
.search-bar:focus{
    color:white !important;
}
.search-bar{
    background: inherit !important;
    border: 0px solid !important;
    width:90% !important;
    border-bottom: 3px solid #3E5593 !important;
}
#topBarActions{
    justify-content:flex-end !important;
}
#topBarActions ul{
    flex-direction: row;
    display: flex;
    -ms-flex-direction: row;
    justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color:white;
}
#topBarActions ul a:hover{
 color: inherit;
 text-decoration: none;
}
.button {
    border-radius: 2.5em;
    display: inline-block;
    text-decoration: none;
    margin: auto;
}
  .signUp-btn {
    background: linear-gradient(45deg, #26A4B5, #6BE0CC);
    color: #fff;
    padding:5px 10px 5px 10px;
    box-shadow: 0 6px 25px #235193;
    transition: box-shadow 0.5s ease;
  }
  .signUp-btn:hover,
  .signUp-btn:focus {
    box-shadow: 0 12px 45px #235193;
    color:inherit;
  }


  /*
  ==============
  TITLE
  =============
  */
  .title-section{
    padding-top:10%;
    text-align: center;
    color:white;
  }
  .title-section h1{
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
  }
  .joinNow-btn:hover{
      text-decoration: none;
  }
  .joinNow-btn{
      font-size: 21px;
      padding:10px 20px 10px 20px;
  }

    /*
  ==============
  GAME THUMBNAILS
  =============
  */
  .thumbnails-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .thumbnails-container .game-thumnail{
    width:300px;
    height:200px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    cursor: pointer;
  }
