/* You can add global styles to this file, and also import other style files */
body{
    background-color:#3D2C73 !important;
}
.button{
  cursor: pointer;
}
.drop-header{
  width:100px;
}
.relative{
  position: relative;
}
.margin-t10{
  margin-top: 10px;
}
.text-center{
    text-align: center;
}
.btn-glow-green{
    background-color:#58d2c7 !important;
    border-color: #58D2C7 !important;
    color:white !important;
}
.btn-purple:hover{
  border-color: #ae8cf2!important;
  color: white!important;
}
.btn-purple{
  color: #ae8cf2!important;
}
.btn-purple-fill{
  background-color: #5d55fc !important;
  color:white !important;
}
.btn-purple-fill:hover,.btn-purple-fill.active{
  background-color: #6441a5 !important;
  color:white !important;
}
  /*
  ==============
  TITLE
  =============
  */
  .title-section{
    padding-top:10%;
    text-align: center;
    color:white;
  }
  .title-section h1{
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
  }
  .joinNow-btn:hover{
      text-decoration: none;
  }
  .joinNow-btn{
      font-size: 21px;
      padding:10px 20px 10px 20px;
  }
  .button {
    border-radius: 2.5em;
    display: inline-block;
    text-decoration: none;
    margin: auto;
  }
  .signUp-btn {
    background: linear-gradient(45deg, #26A4B5, #6BE0CC);
    color: #fff;
    padding:5px 10px 5px 10px;
    box-shadow: 0 6px 25px #235193;
    transition: box-shadow 0.5s ease;
  }
  .signUp-btn:hover,
  .signUp-btn:focus {
    box-shadow: 0 12px 45px #235193;
    color:inherit;
  }
    /*
  ==============
  GAME THUMBNAILS
  =============
  */
  .thumbnails-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  .thumbnails-container .game-thumnail{
    width:300px;
    height:200px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    cursor: pointer;
  }

 

    /*
  ==============
  GAME PLAY 
  =============
  */
  
  #firstGame{
    display: table-cell;
    background-size: cover;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7));
  }
  #secondGame{
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Gears_of_war_cover_art.jpg/220px-Gears_of_war_cover_art.jpg');
    background-size: cover;
   display: table-cell;
   background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7));
  }
 

  footer {
    position: fixed !important;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    left: 0;
    bottom: 0;
   }
   .score ul {
    flex-direction: row;
    display: flex;
    -ms-flex-direction: row;
    justify-content: space-between;
    padding-left: 10;
    margin-bottom: 0;
    list-style: none;
    color:white;
}

  
  
